// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

footer { padding: 0 0 0 }

footer .copyright {margin-bottom: 40px;}

header.masthead {background-color: white; margin-bottom: 7px;}

header.masthead .overlay {background-color: white; }

header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading { padding: 150px 0 15px; color: black; }

header.masthead .post-heading .meta a { color: black;}

#mainNav { position: absolute; border-bottom: 1px solid #2B4664; background-color: #2B4664; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#mainNav .navbar-brand { color: rgba(255,255,255,.9); }

#mainNav .navbar-toggler { color: rgba(255,255,255,.6); border-color: rgba(255,255,255,.4);}

.navbar-brand .navbar-toggler:hover, .navbar-brand .navbar-toggler:focus { color: white; }

@media only screen and (min-width: 992px) { #mainNav { border-bottom: 1px solid transparent; /* background: transparent; */} #mainNav .navbar-brand { padding: 10px 20px; color: rgba(255,255,255,.9); } #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover { color: white; } #mainNav .navbar-nav > li.nav-item > a { padding: 10px 20px; color: rgba(255,255,255,.6); } #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover { color: white; } }

@media only screen and (min-width: 992px) { #mainNav { -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; transition: background-color 0.2s; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; } #mainNav.is-fixed {  position: fixed; top: -67px; -webkit-transition: -webkit-transform 0.2s; -moz-transition: -moz-transform 0.2s; transition: transform 0.2s; border-bottom: 0; background-color: #2B4664; } #mainNav.is-fixed .navbar-brand { color: rgba(255,255,255,.9); } #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover { color: white; } #mainNav.is-fixed .navbar-nav > li.nav-item > a { color: rgba(255,255,255,.6); } #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover { color: white; } #mainNav.is-visible { -webkit-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } }

.navbar-light .navbar-nav .nav-link { color: rgba(255,255,255,.6); }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { color: rgba(255,255,255,1); }

//Home changes

#intro { text-align: left; }

#homename { text-align: left; width: -moz-fit-content;
  width: fit-content; }

#homename {
  border-right: solid 3px rgba(43, 70, 100, .75);
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
#homename {
  animation: animated-text 1s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from { max-width: 0; }
  to { max-width: 100%; }
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(43, 70, 100,.75);}
  to{border-right-color: transparent;}
}

#mastheadhome {
	padding: 0px 0 100px;
	min-height: 100%;
	min-height: 100vh;      
	display: flex;
	align-items: center; }

//button changes

.btn-primary { background-color: #2B4664; border-color: #2B4664; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { color: #fff; background-color: #1D2E42 !important; border-color: #1D2E42 !important; }
.btn { border-radius: 4px; }

//article preview

.post-preview > a { color: #212529; }
.post-preview > a:focus, .post-preview > a:hover {color: #2B4664; }
.post-preview > .post-meta { color: #868e96; }
.post-preview > .post-meta > a { color: #212529; }
.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {color: #2B4664; }

//post

header.masthead .post-heading .meta {color: #959da5; font-size: 17px; font-style: normal; font-family: SFMono-Regular,Consolas,"Liberation Mono", Menlo, "Courier New",monospace;}
.post-preview > .post-meta {color: #959da5; font-size: 15px; font-style: normal; font-family: SFMono-Regular,Consolas,"Liberation Mono", Menlo, "Courier New",monospace; margin-top: 14px;}

//header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading { padding: 200px 0 150px; color: #212529; }


